body {
    font-family: Arial, sans-serif;
    background-color: #74001c; /* Maroon */
    color: #e0a80f; /* Gold */
}
header {
    background: white;
    color: black;
    padding: 11px 21px;
    text-align: center;
}
main {
    padding: 20px;
    text-align: center;
}
img {
    height: 100px;
}
input, button {
    padding: 10px;
    margin: 5px;
}
.alert {
    color: red;
}

footer {
    margin-top: 2rem;
    text-align: center;
}
footer p {
    color: #e0a80f; /* or another color if your background is dark */
}

